@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hanuman:wght@100;300;400;700;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hanuman:wght@100;300;400;700;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;

}

.arinzrg {
    background-image: url("https://s3-alpha-sig.figma.com/img/4cbb/0306/8437302257b8fba481a539ac706fbd84?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=RDk9rgYDZ-ZEMb6ZByNpaX7ftyKmLtNghnBSy~yWkS0OQAwcedbh219VmKMQP84GjlaB-8vp70Dwq1kkFejtE6-Q1iwbXAugamP9KXpcl4lo3gOegFBMUrCtTUZwDBQSA~M5L9k3C1QEEdQbdTUKYmY1Dg0x5AGLkD54voR8YvYPFJIkN0WsSBwDuxP1m11~7sdJkCLN6GahApV3w9lAosAuQAWCQwI-nIsWtCIHID4vnPKB5i~djfP88j2qYwmSZ5qVEP-lhdsk1B2J9iJtOFCfiAj1GhHsW4NioOe6MG00PAWMV2SYlBTICJtPqFyzI4wO7r7EVVVBhAjf3nxB0A__"), linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 40.27%),
        linear-gradient(0deg, rgba(157, 184, 218, 0.2), rgba(157, 184, 218, 0.2));
    height: 100vh;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100vh;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hel {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainbody {
    margin: 0%;
    padding: 0%;
}


.font1 {
    text-align: center;
    color: #FDFDFEFA;
    font-weight: 400;
}

/* .font2 {
    font-family: "Hanuman", serif;
    padding-top: 100px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500px;
    line-height: 20px;
    margin: 0px;
} */

.ulnih {
    list-style: none;
    display: flex;
    color: white;
    Width: 190px;
    Height: Hug 21px;
    Gap: 90px;
    font-family: Montserrat, serif;

}

header {
    position: fixed;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
}

.font1 h1 {
    font-size: 250px;
}

.font1 h2 {
    font-size: 80px;
    color: #E8EDF2B8;
}

.font1 h3 {
    font-size: 64px;
    color: #FFFFFFCC;

}

.card {
    background-color: #D8E4E9;
}

.frame {
    display: flex;
    justify-content: center;
    container: row;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#frame-1 {
    background-image: url(https://s3-alpha-sig.figma.com/img/9411/7af0/fae2d95b54ef6842a38934433c1d99d7?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=j6YiKqaPVJ7vUcEjHiCk8V5APzkPes5eI7upqMvcN0CnFP1j7-Hh9GveYN~6h2O-gnh3y2YoUp1AmdTyzBZQTt7~tFsNqiOlYmFLqd14uNUROcJzWkwSlnNXZ2L0~LvU634vjuyQb~h-lAYMOZJpU7BnCmukya6gNWYQGqE3xfXPF9EPWYMETVdRbP2VbihH6hzi7ZLO0BpY9fLlFJJpZts17B6hOa8ssOdUQm~sPVvtOWlepE1icJcTMuYNlNUTqMgJykJAx8JOy3LpphzVFOWWh64QKoKOpFW2bTnVzAN19u~Et2TvhSpU2~4456PXvvkwuhZsHA2OsOwbrPcHfg__);
}

#frame-2 {
    background-image: url(https://s3-alpha-sig.figma.com/img/e124/d31b/4b7edc8a8926233d613c437affc8b621?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=n~2fkiB1rZgiEdzCMha9Uo8-43DRcDCKmA-WBIUIDM~AsTGrws2kqku6K9nFBLdyenp~YpB-86R7PU5e0sZYZnropDZ1rNByXMOY3LBF8NslbdpzPeGpXMSLRXRtNFDvcGoOEImV8xCUtaHJAyu9K1~kC9F0ag~3SBYTlHYzozLFIEpoS5CPbpfhe7tKyjkwW5fhwd~BuOQxV2zs0x-edzcpr~tT0mCUly9NE30IZIG3KbwoT0Is5WhbgKpHQRQCrZDJ5PzBdlVeTpqV1Zy0ErgMPHJBkevID5~ucRYoSMMuRe2jekzqDylXxEtsLtcxNKP-qN0Wrxck-nxx68YTpQ__);
}

#frame-3 {
    background-image: url(https://s3-alpha-sig.figma.com/img/a4d6/0416/d42b9ac033e9ea4869926a93ad64d227?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GxyJ~y1qLLP~KhdsJkV9oleyKhANT0UUIOdLaOFMIwyeUSIQnMAivl41kfeRa0tJ5aDTPZM48hTZrEHaXa8M53y2PMX-zJT2BKp41jh6TrFU-tM3BuEn6grnjRp8ehbXVHlgB2GJwJ08YqBjBkpIEwM-LayF4EKXmXEfwGYRi6WkKhyJuA3mw7fjLZ0SHslRq4nt72J2z06N3KmIwXAScsOII-H5A9A9jPqHc4~5V0oICuQTaomQpfSxCfIJuGJL~U8aqm2-EztxZKX01ePx9d-05IWaTYoecYBtCCetDL~NjWVRWq8iYPe-xR-kg2WYsfSvmFCV39aUQjL28sbXVQ__);
}

#frame-4 {
    background-image: url(https://s3-alpha-sig.figma.com/img/d2b9/7a2b/78cccaa3f6ec592813187ea25729681e?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HL8whnhAzG46qIxI9tolF~eTqvoqIjC1hsj7~YHC2lnOYnNpcGXHx~wDCbnvNtdz7C0La8zO7P1nv2bAtYhX1WBP~Vw5sGTcIKr1pebPiElvAw~uysK3GAGoAMITSBygflFHSSiQ95eVd6RAjDmKwDt~soL18PDfo0MXGY90i-i15wwnmtctbiIseUbxCvGuzJzgXxWq06pbeNwd9RjE9ckdE3w9kXRbmKCED58cPmar27niBiun0zEakVJynPNaIynC7aYRoIbocEHwnVfzHkwAfGdJnkHcv7fw5IYG82orHRIVpwt7AFb8h7f2E1pu9GD9DXOSHAhDPS4Lzo0Gzw__);
}

.gzrzrg {
    background-image: url(https://s3-alpha-sig.figma.com/img/0a01/4441/f3b23c9e936f611b9b24ad9f5db5c0df?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=N4IrpUy8C4R8te1OmBhxxhyKXRGXAXb5HWxQcDW73nkz1ayslIDv~L6hx-SNxRfooQgPY8hZpaK3u0dpNfwSlKhyEnL4oKkx2tkWHcpisfpk7s~IRTjr0-gsQbYkoeYi~3fqfgfIG-lINO-N04dWVmtbibJOnRFXqCqyNnuc3HrnbPvhagB-6x5-fUym5yrDh1bG44UNV-it9CZb7aV-9WXoU-TW8SWaqt46KlWqJFeFpTOgqkTh4WAzIZCtHLM9mJe4Jhcmj6VlxbxS-7~M8A9~~8KIRuW842NipKYtutlg7CzssB6yGwE875IF4Z2ZURdVPxIij732PfUP5s3PkQ__);
    height: 100vh;
    margin: 0%;
    padding: 0px;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.container {
    width: 1200px;
    margin: 0px auto;
}

.gzrbchg {
    font-size: 39px;
    padding-top: 90px;
}

.frames {
    width: 275px;
    height: 370px;
    border: none;
    border-radius: 40px;
    box-shadow: -8px -8px 0px 0px #1F72AA75;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 38px;


}

.frames:hover {
    background-image: linear-gradient(rgba(00, 00, 0.9));
    mix-blend-mode: multiply;
}

.blend {
    Width: 275px;
    Height: 370px;
    position: absolute;
    border-radius: 40px;
    box-shadow: 8px 8px 0px 0px rgba(41, 114, 139, 0.25);
}

.day {
    width: fill 513px;
    height: fixed 112px;
    border-radius: 120px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

}

.day1 {
    background-color: #EEE9D9;
    width: 513px;
    height: 112px;
    border-radius: 120px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex; justify-content: space-between; flex-direction: column;
}

.day2 {
    background-color: #8BB8C1CC;
    width: 513px;
    height: 112px;
    border-radius: 120px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex; justify-content: space-between; flex-direction: column;
}

.day3 {
    background-color: #AAD8D7CC;
    width: 513px;
    height: 112px;
    border-radius: 120px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex; justify-content: space-between; flex-direction: column;
}

.day4 {
    background-color: #8BC0BDCC;
    width: 513px;
    height: 112px;
    border-radius: 120px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex; justify-content: space-between; flex-direction: column;
}

.day5 {
    background-color: #97CCE0CC;
    width: 513px;
    height: 112px;
    border-radius: 120px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex; justify-content: space-between; flex-direction: column;
}

.gadnatal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.shirheg5 {
}

.leftday {
    width: 513px;
    height: 112px;
    border-radius: 120px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex; justify-content: space-between; flex-direction: column;

}